table{
    border-collapse: collapse;
}

th{
    background-color:#f1f1f1;
}

.error{
    color: red;
}

.error-box{
    display: inline-block
}

form input.ng-touched.ng-invalid{
    background-color: pink;
}

form input.ng-touched.ng-valid{
    background-color: lightgreen;
}