{% extends "base.html.twig" %}
{% block body %}
    <div class="inhoud">
        <h1>Registreren</h1>
        {% if bestaat %} {# error berichten #}
            <p class="error">Dit emailadres is al in gebruik!</p>
        {% endif %}
        {% if veldleeg %}
            <p class="error">Alle velden dienen ingevuld te worden!</p>
        {% endif %}
        <form id="regform" method="post" action="registreren.php?action=registreren">
            <table>
                <tr>
                    <td><label for="voornaam">Voornaam:</label></td>
                    <td><input id="voornaam" type="text" name="voornaam"></td>
                </tr>
                <tr>
                    <td><label for="achternaam">Achternaam:</label></td>
                    <td><input id="achternaam" type="text" name="achternaam"></td>
                </tr>
                <tr>
                    <td><label for="straat">Straat:</label></td>
                    <td><input id="straat" type="text" name="straat"></td>
                </tr>
                <tr>
                    <td><label for="huisnummer">Huisnummer:</label></td>
                    <td><input id="huisnummer" type="text" name="huisnummer"></td>
                </tr>
                <tr>
                    <td><label for="postcode">Postcode:</label></td>
                    <td><input id="postcode" type="text" name="postcode"></td>
                </tr>
                <tr>
                    <td><label for="woonplaats">Woonplaats:</label></td>
                    <td><input id="woonplaats" type="text" name="woonplaats"></td>
                </tr>
                <tr>
                    <td><label for="telefoon">Telefoon:</label></td>
                    <td><input id="telefoon" type="text" name="telefoon"></td>
                </tr>
                <tr>
                    <td><label for="email">E-mailadres:</label></td>
                    <td><input id="email" type="text" name="email"></td>
                </tr>
                <tr>
                    <td><label for="wachtwoord">Wachtwoord:</label></td>
                    <td><input id="wachtwoord" type="password" name="wachtwoord"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Registreren"></td>
                </tr>
            </table>
        </form>
        <p class="error">{{databaseError}}<p>
    </div>
{% endblock %}
